{% include 'header.html' %}
    <h1>WhO Said dAT SHEET?!</h1>
    <div>
      <fb:login-button show_faces="true" scope="public_profile,email,read_stream,user_friends" onlogin="checkLoginState();">
      </fb:login-button>
    </div>
    <div>
      <button onClick="checkLoginState();">Fetch</button>
    </div>
    <div class="row">
      <div class="panel">
	      <h2 id="statusPost">Loading your friends' statuses....</h2>
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns">
        <div class="panel">
	        <div id="pic1"></div><img id="img1" src="static/placeholder.png" /><h3 id="name1"></h2>
        </div>
      </div>
      <div class="large-6 columns">
        <div class="panel">
	        <div id="pic2"></div><img id="img2" src="static/placeholder.png" /><h3 id="name2"></h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="large-6 columns">
        <div class="panel">
	        <div id="pic3"></div><img id="img3" src="static/placeholder.png" /><h3 id="name3"></h2>
	      </div>
      </div>
      <div class="large-6 columns">
        <div class="panel">
	        <div id="pic4"></div><img id="img4" src="static/placeholder.png" /><h3 id="name4"></h2>
        </div>
      </div>
    </div>

{% include 'footer.html' %}
