{% include 'header.html' %}
    <h1>WhO Said dAT SHEET?!</h1>
    <div>
      <fb:login-button show_faces="true" scope="public_profile,email,read_stream,user_friends" onlogin="checkLoginState();">
      </fb:login-button>
    </div>
    <div>
      <button onClick="checkLoginState();">Fetch</button>
    </div>
    <div class="row">
      <div class="panel">
	      <h2 id="statusPost">Status goes here</h2>
      </div>
    </div>
    <div class="row">
      <div class="panel">
	      <div id="pic1"></div><h2 id="name1">guy goes here</h2>
      </div>
    </div>
    <div class="row">
      <div class="panel">
	      <div id="pic2"></div><h2 id="name2">guy goes here</h2>
      </div>
    </div>
    <div class="row">
      <div class="panel">
	      <div id="pic3"></div><h2 id="name3">guy goes here</h2>
      </div>
    </div>
    <div class="row">
      <div class="panel">
	      <div id="pic4"></div><h2 id="name4">guy goes here</h2>
      </div>
    </div>

{% include 'footer.html' %}
